In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('data/zomato.csv')

In [4]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken_min
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [5]:
#We can calculate the distance using geopy library

#pip install geopy 

# from geopy.distance import geodesic

# for i in range(len(df)):
#    df.loc[i,'Distance'] = geodesic((df.loc[i,'Restaurant_latitude'],
#                                     df.loc[i,'Restaurant_longitude']),
#                                     (df.loc[i,'Delivery_location_latitude'],
#                                     df.loc[i,'Delivery_location_longitude'])).km

In [6]:
df = pd.read_csv('data/cleaned_data.csv')

In [7]:
df.head()

,Unnamed: 0,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken_min,Distance,Day,Month,Year,Order_Hours,Order_Min,Picked_Hours,Picked_Min
0,0,36.0,4.2,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,10.271464,12,2,2022,21.0,55.0,22.0,10.0
1,1,21.0,4.7,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,6.229376,13,2,2022,14.0,55.0,15.0,5.0
2,2,23.0,4.7,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,13.764306,4,3,2022,17.0,30.0,17.0,40.0
3,3,34.0,4.3,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2.927795,13,2,2022,9.0,20.0,9.0,30.0
4,4,24.0,4.7,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19.373484,14,2,2022,19.0,50.0,20.0,5.0

In [8]:
df.drop(labels=['Unnamed: 0'],axis=1,inplace=True)

In [9]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken_min,Distance,Day,Month,Year,Order_Hours,Order_Min,Picked_Hours,Picked_Min
0,36.0,4.2,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,10.271464,12,2,2022,21.0,55.0,22.0,10.0
1,21.0,4.7,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,6.229376,13,2,2022,14.0,55.0,15.0,5.0
2,23.0,4.7,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,13.764306,4,3,2022,17.0,30.0,17.0,40.0
3,34.0,4.3,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2.927795,13,2,2022,9.0,20.0,9.0,30.0
4,24.0,4.7,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19.373484,14,2,2022,19.0,50.0,20.0,5.0

In [10]:
df.drop(labels=['Day','Month','Year','Order_Hours',
                'Order_Min','Picked_Hours','Picked_Min'],axis=1,inplace=True)

In [11]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken_min,Distance
0,36.0,4.2,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,10.271464
1,21.0,4.7,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,6.229376
2,23.0,4.7,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,13.764306
3,34.0,4.3,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2.927795
4,24.0,4.7,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19.373484

In [12]:
#Independent and Dependaent Variablew

X = df.drop(['Time_taken_min'],axis=1)
y=df['Time_taken_min']

In [13]:
X.head()

,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Distance
0,36.0,4.2,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,10.271464
1,21.0,4.7,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,6.229376
2,23.0,4.7,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,13.764306
3,34.0,4.3,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,2.927795
4,24.0,4.7,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,19.373484

In [14]:
y.head()

0    46
1    23
2    21
3    20
4    41
Name: Time_taken_min, dtype: int64

In [15]:
#segregate Numerical and categorical features

categorical_cols = X.select_dtypes(include='O').columns
numerical_cols = X.select_dtypes(exclude='O').columns

print('Numerical columns:',numerical_cols)
print('categorical columns:',categorical_cols)

Numerical columns: Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Vehicle_condition',
       'multiple_deliveries', 'Distance'],
      dtype='object')
categorical columns: Index(['Weather_conditions', 'Road_traffic_density', 'Type_of_order',
       'Type_of_vehicle', 'Festival', 'City'],
      dtype='object')

In [16]:
#Defining custome ranking
whether_condition_map = ['Sunny','Stromy','Sandstroms','Windy','Fog','Cloudy']
Road_Traffic_map = ['Low','Medium','High','Jam']
Type_of_vehicle_map = ['bicycle','electric_scooter','motorcycle']
Festival_map=['No','Yes']
city_map = ['Urban','Metropolitian','Semi-Urban']

In [17]:
from sklearn.impute import SimpleImputer #handle missing
from sklearn.preprocessing import StandardScaler,OrdinalEncoder,OneHotEncoder
#pipeline
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

#OrdinalEncoder(categories=[whether_condition_map,Road_Traffic_map,Type_of_vehicle_map,Festival_map,city_map])

In [18]:
#num pipeline

num_pipeline = Pipeline(
   steps=[
      ('impute',SimpleImputer(strategy='median')),
      ('scaler',StandardScaler())
   ]
)
#cat pipeline
cat_pipeline = Pipeline(
   steps=[
      ('impute',SimpleImputer(strategy='most_frequent')),
      ('oneHot',OneHotEncoder(sparse_output=False)),
      ('scaler',StandardScaler())
   ]
)

preprocessor = ColumnTransformer(
   [('num_pipeline',num_pipeline,numerical_cols),
    ('cat_pipeline',cat_pipeline,categorical_cols)]
)

In [19]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)

In [20]:
X_train.head()

,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Distance
44275,31.0,4.6,Sunny,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,11.902777
41108,36.0,4.7,Fog,Medium,2,Buffet,electric_scooter,1.0,No,Metropolitian,9.295779
11260,36.0,4.7,Cloudy,Jam,0,Snack,motorcycle,0.0,No,Metropolitian,17.103102
5780,25.0,4.7,Stormy,Low,0,Buffet,motorcycle,1.0,No,Metropolitian,16.797444
1758,26.0,4.6,Cloudy,Medium,1,Buffet,motorcycle,0.0,No,Metropolitian,4.707104

In [21]:
X_train = pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test = pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [22]:
X_train.head()

,num_pipeline__Delivery_person_Age,num_pipeline__Delivery_person_Ratings,num_pipeline__Vehicle_condition,num_pipeline__multiple_deliveries,num_pipeline__Distance,cat_pipeline__Weather_conditions_Cloudy,cat_pipeline__Weather_conditions_Fog,cat_pipeline__Weather_conditions_Sandstorms,cat_pipeline__Weather_conditions_Stormy,cat_pipeline__Weather_conditions_Sunny,...,cat_pipeline__Type_of_order_Snack,cat_pipeline__Type_of_vehicle_bicycle,cat_pipeline__Type_of_vehicle_electric_scooter,cat_pipeline__Type_of_vehicle_motorcycle,cat_pipeline__Type_of_vehicle_scooter,cat_pipeline__Festival_No,cat_pipeline__Festival_Yes,cat_pipeline__City_Metropolitian,cat_pipeline__City_Semi-Urban,cat_pipeline__City_Urban
0,0.253482,-0.109139,-1.221968,0.442692,-0.078632,-0.444007,-0.472007,-0.442685,-0.447072,2.296307,...,-0.581043,-0.037885,-0.301915,0.851885,-0.710647,0.140844,-0.140844,0.542191,-0.0586,-0.536904
1,1.129957,0.195253,1.164860,0.442692,-0.081004,-0.444007,2.118613,-0.442685,-0.447072,-0.435482,...,-0.581043,-0.037885,3.312188,-1.173867,-0.710647,0.140844,-0.140844,0.542191,-0.0586,-0.536904
2,1.129957,0.195253,-1.221968,-1.323737,-0.073900,2.252214,-0.472007,-0.442685,-0.447072,-0.435482,...,1.721043,-0.037885,-0.301915,0.851885,-0.710647,0.140844,-0.140844,0.542191,-0.0586,-0.536904
3,-0.798287,0.195253,-1.221968,0.442692,-0.074178,-0.444007,-0.472007,-0.442685,2.236775,-0.435482,...,-0.581043,-0.037885,-0.301915,0.851885,-0.710647,0.140844,-0.140844,0.542191,-0.0586,-0.536904
4,-0.622992,-0.109139,-0.028554,-1.323737,-0.085180,2.252214,-0.472007,-0.442685,-0.447072,-0.435482,...,-0.581043,-0.037885,-0.301915,0.851885,-0.710647,0.140844,-0.140844,0.542191,-0.0586,-0.536904

In [23]:
from sklearn.linear_model import LinearRegression,ElasticNet,Ridge,Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [26]:
#def evalute model

def evalute_model(true,pred):
   mse = mean_squared_error(true,pred)
   rmse=np.sqrt(mse)
   mae = mean_absolute_error(true,pred)
   r2_square= r2_score(true,pred)
   return rmse,mae,r2_square

In [28]:
#Train Multple model

models = {
   'LinearRegression':LinearRegression(),
   'Ridge':Ridge(),
   'Lasso':Lasso(),
   'ElasticNet':ElasticNet(),
   "DecisionTree":DecisionTreeRegressor(),
   'RandomForest':RandomForestRegressor(),
   'Neighbours':KNeighborsRegressor(),
   'Svm':SVR()
}

model_list = []
r2_list=[]

for i in range(len(models)):
   model =list(models.values())[i]
   model.fit(X_train,y_train)

   #make prediction
   y_pred = model.predict(X_test)
   rmse,mae, r2_square=evalute_model(y_test,y_pred)

   print(list(models.keys())[i])
   model_list.append(list(models.keys())[i])
   print('Model Training Performance')
   print('RMSE:',rmse)
   print('MAE:',mae)
   print('R2_SCore:',r2_square*100)

   r2_list.append(r2_square)

   print('='*35)
   print('\n')

LinearRegression
Model Training Performance
RMSE: 6.3244631890812375
MAE: 5.007627637452819
R2_SCore: 55.322156918283106
===================================


Ridge
Model Training Performance
RMSE: 6.324201050945433
MAE: 5.007250659482854
R2_SCore: 55.325860481235644
===================================


Lasso
Model Training Performance
RMSE: 6.969735729689893
MAE: 5.543142873117112
R2_SCore: 45.74028818089438
===================================


ElasticNet
Model Training Performance
RMSE: 6.900367612349134
MAE: 5.523630199654147
R2_SCore: 46.81498129170727
===================================


DecisionTree
Model Training Performance
RMSE: 5.563266897690473
MAE: 4.202088452088452
R2_SCore: 65.42958034079169
===================================